    /* root styles */
:root {
    --primary-color: #C2A673;
    --secondary-color: #F2EFDE;
    --tertiary-color: #3F72AF;
    --quaternary-color: #112D4E;
    --font-color: #624D26;
    --background-color:#F2EFDE;
    
}

*{
    box-sizing: border-box;
}

body {
    
}
/* ---------------- HEADER AND NAVIGATION STYLES ---------------- */

header nav {
    width: 40%;
    height: 100%;

}

header nav ul {
    width: 100%;

}

 header nav ul li a {
    font-weight: lighter;
    font-size: 1.55vw;
    text-decoration: none;
    border-bottom: 1px solid var(--secondary-color);
 }

 header nav ul li a:hover {

 } 

/* -------------------- SPLASH IMAGE -------------------- */
 figure img {
    height: 750px;
    width: 100%;
    margin: 0px;
    background-size: cover;
    background-position: center;
    object-fit:cover;
    
    object-position: center top;
    border-style: solid;
    border-width: 20px;
    border-image-source: url(../assets/images/waves.jpg);
    border-image-slice: 30 60;
    
 }



 /*------------------ BODY STYLES ----------------- */

 body {
    color: var(--font-color);
    font-family:Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
}

body h2 {
    border-right: 3px solid var(--secondary-color);
    padding-right: 15px;
    font-style: italic;
    font-size: 55px;
    color: var(--primary-color);
}



 /*-------------- FOOTER & CONTACT ME STYLES -------------*/

 footer {
    /* box-shadow: inset 0 0 0 300px rgba(0, 0, 0, .7); */
    display: flex;
    flex-wrap: wrap;
 }

footer h3 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
    font-weight: bold;
    color: var(--primary-color);
    margin: 0px;
    padding: 20px 30px;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    margin: 0px;
    padding:
    
}



/*-------------------- SECTION TITLE -------------------*/

/* .section-title {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color:var(--primary-color);
    border-right: 3px solid var(--secondary-color);
    text-align: Right;
    padding: 15px 100px;
    width: 25%;
} */

/* ABOUT ME SECTION */
.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
   
}
/* 
.about-me-content {
    width: 70%;
    text-align: left;
    margin-left: 20px;
    font-size: 16px;
    line-height: 1.2;
} */



/*------------------ WORK SECTION -------------------------*/
.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 0 0 0 0;
    color: var(--primary-color);
    text-align: right;
    
}

.main-card {
    
    height: 50%;
    width: 70%;
    margin: 2.5%;
    display: flex;
    justify-content: left;
    border: 0;
    width: 100%;
    position: relative;
    border: 6px solid var(--secondary-color);

}

.main-img {
    height: 75%;
    width: 100%;
    opacity: .5;

}

.main-img:hover {
    opacity: 1;
    transition-delay: 50ms;
    transition-timing-function: ease;

}

.small-img {
    /* border: 6px solid var(--secondary-color); */
    width: 100%; 
    height: 175px;
    object-fit: cover;
    opacity: .75;

}

.small-img:hover {
    opacity: 1;
    transition-delay: 50ms;
    transition-timing-function: ease;

}

.photo-text-main {
    position:absolute;
    left: .01%;
    bottom: 15%;
    text-align: left;
    padding-top: 6px;
    padding-left:8px;
    padding-right: 10px;
    width: auto;
    height: auto;
    font-weight: lighter;

    
}

.photo-text-main h3 {
    margin:0%;
    padding-bottom:5px;
}

.photo-text {
    position:absolute;
    left: .025%;
    bottom: 15%;
    text-align: left;
    padding-top: 6px;
    padding-left:8px;
    padding-right: 10px;
    width: auto;
    height: auto;
    font-weight: lighter;
    background-color: var(--secondary-color);
    color: var(--font-color);
    
}

.photo-text h3 {
    margin:0%;
    
}

.work-flex {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    justify-content: space-evenly;
    font-size: 16px;
    width: 75%;

}

.work-flex h2 {
    padding-right: 2.5%;
    align-self: flex-start;
    justify-content: center;
    
}

.small-card-left{
    text-decoration: none;
    margin: 0 3.15% 1.25% 2.5%;
    width: 45%;
    height: 183px;
    position: relative;
    border: 4px solid var(--secondary-color);
    
}

.small-card-right{
    text-decoration: none;
    margin: 0 2.5% 1.25% 1.25%;
    width: 45%;
    height: 183px;
    position: relative;
    border: 4px solid var(--secondary-color);

}

.work-small-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

}


/* LINKS */
.link li a  {
    text-decoration: none; 
    font-weight: lighter;
    font-size: 1.55vw;
    text-decoration: none;
    
    border-bottom: 1px solid var(--secondary-color);
    align-items: center;
    
}

.link ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    list-style: none;
    height: 130px;
    align-items: center;
}

.link h3 {
    margin-top: 25%;
}

.link  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:75%;

}

/* ----------------- MEDIA QUERIES ------------------ */

@media screen and (max-width: 980px) {

    .section-title {
        padding: 15px 50px;
        width: 25%;
    }

}

@media screen and (max-width: 768px) {



    header {
        flex-direction: column;
        align-items: center;

    }

    header ul {
        height: 0px;
    }

    figure img {
        height: fit-content;

    }
    
    .section-title {
        border-bottom: 3px solid var(--secondary-color);
        border-right: none;
        text-align: center;
        font-size:xx-large;
        white-space: nowrap;

    }

    .about-me {
        flex-direction: column;
        align-items: center;
    }

    .work{
        flex-direction: column;
        align-items: center;
        
    }
    
    .work-flex{
        flex-direction: column;
        align-self: center;
  
        
    }

    .small-card-left {
        height: 50%;
        width: 70%;
        margin: 2.5%;
        display: flex;
        justify-content: left;
        border: 0;
        width: 100%;
        position: relative;
        border: 6px solid var(--secondary-color);

    }

    .small-card-right {
        height: 50%;
        width: 70%;
        margin: 2.5%;
        display: flex;
        justify-content: left;
        border: 0;
        width: 100%;
        position: relative;
        border: 6px solid var(--secondary-color);
    }

    footer ul li a {
        font-size: 16px;

    }
     
    .contact-me {
        display: flex;
        flex-direction: column;
        align-self: center;
        align-items: center;
    }

}