:root {
    --primary-color: #2E4057;
    --secondary-color: #2E4057;
    --tertiary-color: #DC5FE7;
    --quaternary-color: #3EC439;
    --background-color:#F2EFDE;
    
}

*{
    box-sizing: border-box;
}

/* MULTIPLE USE */
.section-title {
    border-right: 3px solid var(--primary-color);
}
/* HEADER */
header h1 div{
    font-size: 10vw;
    text-align: right;
}

/* WORK */
main ul li {
    list-style: none;
}

.img-gradient {
    background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%);
}

/* FOOTER */

